:root {
  --white : #fff;
  --light-gray: #ddd;
  --logo-color: #f4f4f8;
  --light-white: #f2e0e0;
  --background-color: #f8fcf9;
  --gray: #9a9a9a;
  --black: #000000;
  --dark-gray: #2d2d2d;
  --dark-gray-red: rgba(115, 114, 114, 0.12);
  --green: #5cb874;
  --green2: #38a62e;
  --green3: #0b3d06;
  --background-green: rgba(68, 150, 91, 0.299);
  --yellow: #ffc107;
  --light-yellow: #ffeb8d;
  --blue: #244bc1;
  --background-blue: rgba(7, 58, 109, 0.265);
  --purple:  rgb(54, 10, 54);
  --font: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
  font-family: var(--font);
}
ul{
    margin: 0px;
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.btn{
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
    border-radius: 30px;
    transition: all 400ms ease;
    border: 1px solid #a107e900;
    background:linear-gradient(to right,  var(--green2) ,var(--blue));
}
.btn a{
    color:var(--white);
}
.rating i{
  color: var(--yellow);
}
hr{
  margin: 0; 
  padding: 0;
  border: 1px solid var(--green3);
}
/* Background img */
.background--img{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Header */
header {
  width: 100%;
  z-index: 999;
  height: 100px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-blue);
  }  
  .head {
    display: flex;
    justify-content: space-between;
  }
  .head .head__menu--list {
    display: flex;
    font-weight: 600;
    text-align: right;
  }
  .head .head__menu--list .head__menu--item a {
    color: var(--white);
  }
  .head .head__menu--list .head__menu--item a:hover  {
    color: var(--light-white);
  }
  .head .head__menu ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
  }
  .head .head__logo {
    font-size: 40px;
  }
  .head .head__logo--img {
    color: var(--blue);
  }
  .head .head__logo span {
    width: 100%;
    height: 40px;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 800;
    color: var(--logo-color);
  }  
  .head .head__search {
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
  }
  .head .head__search i {
    font-size: 18px;
    cursor: pointer;
  }
  .head__bars i{
    display: none;
  }
@media (max-width: 991.89px) {
    .head .head__menu--list, .head__search i{
      display: none;
    }
    .head__bars i{
      display: block;
      cursor: pointer;
      font-size: 28px;
      cursor: pointer;
      color: var(--white);
    }
    .head__bars i:hover{
      color: var(--light-white);
    }
}
/*Box */
.box__head {
  text-align: center;
  margin-bottom: 50px;
}
.box__head .inner__title {
  font-size: 32px;
  font-weight: 700;
  padding-top: 90px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.box__head .inner__title::before {
  content: "";
  bottom: 1px;
  height: 1px;
  width: 120px;
  display: block;
  position: absolute;
  background: var(--light-gray);
  left: calc(50% - 60px);
}
.box__head .inner__title::after {
  bottom: 0;
  content: "";
  height: 3px;
  width: 40px;
  display: block;
  position: absolute;
  background:var(--green);
  left: calc(50% - 20px);
}
.box__head .inner__desc {
  font-size: 15px;
  color: var(--gray);
}
  /* Footer */
  footer {
  width: 100%;
  height: 100%;
  padding-top: 100px ;
  padding-bottom: 50px;
  background-color: var(--background-color);
}
.section__footer .footer--info--heading img{
    padding: 0 10px;
}
.section__footer .footer--info--heading {
  flex: start;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  color:var(--green3);
  align-items: center;
  margin-bottom: 30px;
}
.footer--info--desc p{
    color: var(--gray);
    font-size: 18px;
}
.section__footer  .footer--info--socials ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section__footer  .footer--info--socials ul i{
  margin: 0;
  width: 44px;
  height: 44px;
  display: flex;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
  color: var(--white);
  align-items: center;
  justify-content: center;
  background-color: var(--green3);
}
.section__footer  .footer--info--socials ul li i:hover{
  transition: 0.4s;
  background-color: var(--blue);
}
.section__footer .footer--blogs--info{
  display: flex;
  margin: 13px 0 ;
}
.section__footer  .footer--infor--desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  0 0 10px 10px;
}
.section__footer  .footer--infor--desc a{
  color: var(--black);
}
.section__footer  .footer--infor--desc a:hover{
  color:var(--white);
}

.section__footer .footer--info {
  padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--gray);
  }
.section__footer .footer--info i{
  padding-right: 10px ;
  color: var(--green3);
}
.section__footer .section__footer--creator{
  display: flex;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray);
}
 .section__footer--creator a{
  color: var(--green3);
}
 .section__footer--creator a:hover{
  color:var(--blue);
}
.section__footer--content .section__footer--img{
  width: 100%;
  height: 100%;
  bottom: 120px;
  display: flex;
  position: absolute;
  border-radius: 10px;
 }