
/* section one */
.book{
  height: 100vh;
  background-image: url("../images/book.jpeg");
}
.section__one{
  padding: 50px ;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.flex-item{
  flex-basis: 25%;  
  padding: 0 10px;
}
.flex-item img{
  height: 200px;
}
.item-one,
.item-two,
.item-three,
.item-four,
.item-five,
.item-six,
.item-seven,
.item-eight{
  margin-bottom: 30px;
 }
 .item-one__name{
  font-size: 18px;
  font-weight: 600;
  color: var(--back);
  padding-top: 5px;
 }

 .footer--book{
  padding-top: 0;
 }