/* Page Book */
.book {
  filter: sepia(40%);
  height: 100vh;
  background-image: url(/assets/images/book_backround.jpg);
}
.book .book__content {
  margin: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.book__content--name {
  color: var(--white);
  font-size: 100px;
  font-weight: 800;
}
.section__one--book {
  padding: 90px;
  background-color: var(--background-color);
}
.section__one--img img {
  width: 100%;
  height: auto;
  padding: 0 30px;
}

.containergrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "post1 post2"
    "post3 post4"
    "post5 post6";
  gap: 3rem;
  font-weight: 800;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

.post1 {
  grid-area: post1;
}

.post2 {
  grid-area: post2;
}

.post3 {
  grid-area: post3;
}

.post4 {
  grid-area: post4;
}

.post5 {
  grid-area: post5;
}

.post6 {
  grid-area: post6;
}
.book__description {
  margin: auto;
  top: 90%;
  left: 50%;
  position: fixed;
  color: #fff;
}
/* End Page */
