@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Home */
.home {
  height: 100vh;
  /* background-image: linear-gradient(var(--background-blue),var(--background-blue)), url(/assets/images/bg_header.webp); */
}

.home__video {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__video video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 99.99999%;
}
.home .home__content {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.home__content--name {
  color: var(--white);
  font-size: 100px;
  font-weight: 800;
}
.home__content--name span:nth-child(3) {
  font-size: 70px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: var(--font2);
}
.home__content--desc p {
  font-size: 18px;
  color: var(--light-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.home__content--explore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.home__content--explore .btn__explore a {
  color: var(--white);
}

/* Section one */

.section__one {
  background-color: var(--background-color);
  display: flex;
  padding-bottom: 80px;
}

.section__one--list {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  background: var(--background-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.section__one .list__img img {
  width: 100%;
  height: 100%;
}

.section__one .list__content {
  width: 14rem;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 7rem);
}
.section__one .list__item span {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--white);
}
.section__one .list__item--prices {
  color: var(--white);
}
.section__one .list__item_rating {
  padding-top: 10px;
}
.section__one .list__item_rating i {
  color: var(--yellow);
}
.section__one .btn--more {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section__one .list__item--date {
  color: var(--white);
  background-color: var(--green);
  width: 150px;
  left: calc(50% - 75px);
  height: 30px;
  font-size: 13px;
  border-radius: 30px;
  top: -100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__one .list__item_rating i:last-child {
  color: var(--white);
  border: 1 px solid var(--black);
}
@media (max-width: 991.89px) {
  .section__one .list__item--date {
    top: -75px;
  }
}

/* section two */
.section__two {
  height: 60vh;
  background-image: linear-gradient(
      var(--background-green),
      var(--background-blue)
    ),
    url(../images/section2.webp);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__two .content--btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__two .content--btn .btn__book {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.section__two .section__two--content {
  background-color: var(--background-color);
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.section__two .content-title {
  position: absolute;
  font-size: 30px;
  color: #2d2d2d;
  font-weight: 650;
  top: 40px;
}

.section__two .content-rating {
  color: var(--white);
  position: absolute;
  top: 100px;
}
.section__two .content-rating i:last-child {
  color: var(--light-yellow);
}
.section__two .content--btn {
  position: absolute;
  bottom: 40px;
}
.section__two .content-desc {
  color: var(--gray);
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 100px;
  padding: 0 100px;
}
.section__two .content-desc p {
  margin: 0;
}
.section__two .content--btn .btn__book a {
  color: var(--white);
}

@media (max-width: 991.89px) {
  .section__two .content-rating {
    top: 200px;
  }
  .section__two .content-desc {
    padding: 0 60px;
  }
}
/* end section two */

/* End page home */

/* Page about */
.about {
  height: 100vh;
  background-image: url(/assets/images/bg_header.webp);
}

.about .about__content {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.about__content--name {
  color: var(--white);
  font-size: 100px;
  font-weight: 800;
}
.section__one--about {
  padding: 90px;
  background-color: var(--background-color);
}
.section__one--img img {
  width: 100%;
  height: auto;
  padding: 0 30px;
}
.section__one--title {
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.section__one--desc {
  font-weight: 600;
  color: var(--gray);
  margin-top: 20px;
  line-height: 2;
  text-align: justify;
  padding-bottom: 35px;
}
.section__one--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* End page about */

/* Page contact */
.contact {
  height: 100vh;
  background-image: url("../images/contactimg.jpeg");
}

.contact .contact__content {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.contact__content--name {
  color: var(--white);
  font-size: 100px;
  font-weight: 800;
}
/* Section contact */

.section__contact .information {
  border-top: 3px solid var(--green);
  border-bottom: 3px solid var(--green);
  padding: 30px;
  background: var(--white);
  width: 100%;
  box-shadow: 0 0 24px 0 var(--dark-gray-red);
  height: 648px;
}

.section__contact .form {
  width: 100%;
  border-top: 3px solid var(--green);
  border-bottom: 3px solid var(--green);
  padding: 30px;
  background: var(--white);
  box-shadow: 0 0 24px 0 var(--dark-gray-red);
}
.section__contact .infor-location-map iframe {
  width: 100%;
  height: 400px;
}
.section__contact .infor-location {
  display: flex;
  align-items: center;
}

.section__contact .location-icon i {
  font-size: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
  top: -10px;
}
.section__contact .location-icon i:hover {
  background-color: var(--green);
  color: var(--white);
  transition: 0.4s;
}
.section__contact .desc-location {
  margin-bottom: 20px;
  font-size: 12px;
  color: #555555;
}

.section__contact .title-location {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--dark-gray);
}
.section__contact .sent-message,
.loading {
  display: none;
}
.section__contact .text-center button {
  background: var(--green);
  border: 0;
  padding: 10px 24px;
  color: var(--white);
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
}
/* End Page contact */

/*  Register */
body.register {
  background-image: linear-gradient(var(--dark-gray-red), rgba(31, 31, 31, 0.3)),
    url(/assets/images/register-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register__heading {
  color: var(--white);
  text-align: center;
  padding: 10% 0 50px;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 800;
}

.register__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

.register__box-img {
  background-image: url(/assets/images/register-form-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .register__box-img-heading {
  color: var(--white);
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Monoton", cursive;
  text-align: center;
  margin-bottom: 24px;
} */

.register__box-img-para {
  color: var(--white);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.register__box-form {
  flex: 1;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 0 0;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.register__form-group {
  display: flex;
  justify-content: center;
}

.register__form-input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid var(--white);
  color: var(--white);
  outline: none;
  font-size: 1.2rem;
  width: 70%;
  height: 50px;
  margin: 0px 10px 20px;
  padding: 0 10px;
}

.register__form-input:hover,
.register__form-input:focus {
  border-color: var(--green2);
  color: var(--green2);
}

.register__form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-style: italic;
}

.register__form-input-icon {
  font-size: 2rem;
  padding: 4px 0 0;
  margin: 0;
}

.register__form-submit {
  text-align: center;
  margin: 30px 0;
}

.register__form-submit-btn {
  color: var(--white);
  width: 40%;
  height: 42px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  left: 23%;
}

.register__box-form--separation {
  display: flex;
  align-items: center;
  height: 20px;
  margin: 0 40px;
}

.register__box-form--separation-left,
.register__box-form--separation-right {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1;
}

.register__box-form--separation-content {
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 15px 0px;
}

.register__box-form--separation-content p {
  padding: 0;
  margin: 0;
}

.register__box-social {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35px 0;
}

.register__box-social-link {
  font-size: 1.2rem;
  border: 1px solid var(--white);
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 3px 0;
}

.register__box-social-link:hover {
  border: transparent;
  border-radius: 10px;
}

.register__box-social-link--fb:hover {
  background-color: rgb(8, 102, 255);
}

.register__box-social-link--insta {
  font-size: 1.5rem;
}

.register__box-social-link--insta:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.register__box-social-link--twitter:hover {
  background-color: rgb(28, 156, 234);
}

.register__box-social-link--gg:hover {
  background-color: rgb(243, 0, 28);
  /* background: linear-gradient(
    rgb(243, 0, 28),
    rgb(255, 197, 0),
    rgb(0, 196, 73),
    rgb(56, 118, 248)
  ); */
}

.register__box-social-link a {
  color: var(--white);
  text-align: center;
  line-height: 38px;
}

.register__box-login {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.register__box-login-message {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}
.register__box-login-link {
  color: rgb(19, 119, 214);
}

.register__box-login-link:hover {
  font-weight: 600;
  color: rgb(19, 12, 214);
}

/* End Page register */

/* Page login */

body#login {
  background-image: url(/assets/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: var(--black);
}

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__box {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 15px 35px 25px;
  margin: 150px 0 50px;
  flex-grow: 1;
}

.login__box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__box-header--above {
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
}

.login__box-header-logo {
  margin-right: 10px;
}

.login__box-header-content {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.login__box-header--under {
  flex: 1;
  align-self: center;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.login__box-form {
}

.login__box-form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.login__box-form-group i {
  background-color: var(--green2);
  font-size: 1.5rem;
  color: var(--white);
  align-self: center;
  padding: 1rem 1rem;
  margin-left: 10px;
}

.login__form-input {
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  border-left: 4px solid var(--green2);
  outline: none;
  color: var(--white);
  padding: 1rem 15px;
  flex: 1;
}

.login__form-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.login__box-form-option-forgot {
  display: flex;
  margin-bottom: 40px;
}

.login__box-form-remember {
  flex: 1;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}

/* .login__box-form-remember--btn input[type="checkbox"] {
  
} */

.login__box-form-forgot-password {
  flex: 1;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
}

.login__box-form-forgot-password a {
  color: var(--black);
}

.login__box-form-forgot-password:hover a {
  color: #f80a06;
}

.login__box-form-submit {
  color: var(--white);
  width: 40%;
  height: 42px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  left: 50%;
}

/* end Page login */
