
header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 65, 143, 0.452);
    position: fixed;
    z-index: 999;
}

.head {
    display: flex;  
    justify-content: space-between;  
}
.head .head__menu ul{
    display: flex;
    text-align: right;
    font-weight: 600;
}
.head .head__menu ul li a{
    color: #fff;
}
.head .head__menu ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}
.head .head__logo {
    font-size: 40px;
}
.head .head__logo img{
    color: #1b53fa;
}
.head .head__logo span{
    font-size: 30px;
    color: #f4f4f8;
    font-weight: 800;
    margin-bottom: 0;
    height: 40px;
    width: 100%;
}

.head .head__search  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.head .head__search i{
    font-size: 18px;
    cursor: pointer;
}

/* Home */
.home {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(7, 58, 109, 0.265), rgba(6, 66, 134, 0.288)), url(/assets/images/bg_header.webp);
}



.home .home__content {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.home__content--name {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
}
.home__content--name span:nth-child(3){
    font-size: 80px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.home__content--explore {
    display: flex;
    align-items: center;
    justify-content: center;

}
.home__content--explore .btn__explore{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition: all 400ms ease;
    border: 1px solid #a107e900;
    background:linear-gradient(to right, #1bfa5e, #4f78ff,  #4fff87, #1b53fa);

 }
 .home__content--explore .btn__explore a{
    color: #fff;
 }



/* Search */
.search {
    margin-top: -100px;
}
.col-lg-2{
    display: flex;
    margin: 0;
    padding: 0;
}
.search__head {
    top: -100px;
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.search__head:first-child{
    border-top-left-radius: 94px;
}
.search__head:last-child{
    border-top-right-radius: 94px;
}
.search__head--choose--first:hover{
    border-top-left-radius: 94px;
}
.search__head--choose--last:hover{
    border-top-right-radius: 94px;
}
.search__head--choose {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 ;
    height: 100px;
    width: 100%;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
}
.search__head--choose img {
    padding-right: 10px;
}
.search__head--choose a{
    color: #000;
}
.search__head--choose:hover{
    cursor: pointer;
    background:linear-gradient(to right, #4f78ff,  #41d670, #2443a1);
    color: #fff;
}
/* Search box */
.searchsub{
    position: relative;
    width: 100%;
    height: 200px;
    background:linear-gradient(to right, #64dc54, #438be4);
}
.searchsub .search__box {
    /* position: absolute; */
    margin: auto;
    display: flex;
 }
.search__box span{
    font-size: 13px;
    font-weight: 600;
    color: #fff;

}



/* Section one */
.box__head{
    margin-bottom: 50px;
    text-align: center;

}
.box__head .inner__title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 90px;
}
.box__head .inner__title::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.box__head .inner__title::after{
    content: "";
    position: absolute;
    ;display: block;
    width: 40px;
    height: 3px;
    background: #5cb874;
    bottom: 0;
    left: calc(50% - 20px);
}
.box__head .inner__desc {
    font-size: 15px;
    color: #9a9a9a;
}

.section__one {
    background-color: #f8fcf9;
    display: flex;
    padding-bottom: 80px;
}

.section__one--list{    
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}


.section__one .list__img img{
    width: 100%;
    height: 100%;
    
}


.section__one .list__content{
    width: 14rem;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 7rem);
}
.section__one .list__item span{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
.section__one .list__item--prices{
    color: #fff;
}
.section__one .list__item_rating{
    padding-top: 10px;
}
.section__one .list__item_rating i{
    color: rgb(255, 196, 0);
}
.section__one .list__item--btn{
    position: absolute;
    left: calc(50% - 80px);
    text-decoration: none;
    border-radius: 30px;
    width: 160px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    transition: all 400ms ease;
    background: linear-gradient(to right, #1bfa5e, #4f78ff, #4fff87, #1b53fa);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.section__one .list__item--btn a{
    color: #fff;
}
.section__one .list__item--date {
    color: #fff;
    background-color: #5cb875cc;
    width: 150px;
    left: calc(50% - 75px);
    height: 30px;
    font-size: 13px;
    border-radius: 30px;
    top: -100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__one .list__item_rating i:last-child{
    color: white ;
    border: 1 px solid #000;    
}
/* section two */

.section__two {  
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(68, 150, 91, 0.299), rgba(41, 100, 168, 0.527)), url(../images/section2.webp);
    display: flex;
    align-items: center;
    justify-content: center;
}


.section__two .content--btn {
    display: flex;
    align-items: center;
    justify-content: center;

}
.section__two .content--btn .btn__book{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition: all 400ms ease;
    background:linear-gradient(to right, #1bfa5e, #4f78ff,  #4fff87, #1b53fa);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
 }

.section__two .section__two--content{
    background-color: #fff;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* end section two */
/* End page home */









/* Page about */
.about {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(185, 137, 42, 0.265), rgba(18, 83, 158, 0.47)), url(/assets/images/ba_header.jpg);
}

.about .about__content {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.about__content--name {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
}
/* End page about */





/* Page contact */
/* End Page contact */



/* Page login */
/* end Page login */


/* Page register */
/* End Page register */
