header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(13, 65, 143, 0.452);
  position: fixed;
  z-index: 999;
}

.head {
  display: flex;
  justify-content: space-between;
}
.head .head__menu ul {
  display: flex;
  text-align: right;
  font-weight: 600;
}
.head .head__menu ul li a {
  color: #fff;
}
.head .head__menu ul li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}
.head .head__logo {
  font-size: 40px;
}
.head .head__logo img {
  color: #1b53fa;
}
.head .head__logo span {
  font-size: 30px;
  color: #f4f4f8;
  font-weight: 800;
  margin-bottom: 0;
  height: 40px;
  width: 100%;
}

.head .head__search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.head .head__search i {
  font-size: 18px;
  cursor: pointer;
}

/* Home */
.home {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      rgba(7, 58, 109, 0.265),
      rgba(6, 66, 134, 0.288)
    ),
    url(/assets/images/bg_header.webp);
}

.home .home__content {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.home__content--name {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
}
.home__content--name span:nth-child(3) {
  font-size: 80px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.home__content--explore {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .home__content--explore .btn__explore{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition: all 400ms ease;
    border: 1px solid #a107e900;
    background:linear-gradient(to right,  #36bc61, #244bc1);

 } */
.home__content--explore .btn__explore a {
  color: #fff;
}

/* Search */
.search {
  margin-top: -100px;
}
.col-lg-2 {
  display: flex;
  margin: 0;
  padding: 0;
}
.search__head {
  top: -100px;
  height: 100px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.search__head:first-child {
  border-top-left-radius: 94px;
}
.search__head:last-child {
  border-top-right-radius: 94px;
}
.search__head--choose--first:hover {
  border-top-left-radius: 94px;
}
.search__head--choose--last:hover {
  border-top-right-radius: 94px;
}
.search__head--choose {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100%;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 600;
}
.search__head--choose img {
  padding-right: 10px;
}
.search__head--choose a {
  color: #000;
}
.search__head--choose:hover {
  cursor: pointer;
  background: linear-gradient(to right, #36bc61, #244bc1);
  color: #fff;
}
/* Search box */
.searchsub {
  position: relative;
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, #64dc54, #438be4);
}
.searchsub .search__box {
  /* position: absolute; */
  margin: auto;
  display: flex;
}
.search__box span {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

/* Section one */
.box__head {
  margin-bottom: 50px;
  text-align: center;
}
.box__head .inner__title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 90px;
}
.box__head .inner__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.box__head .inner__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5cb874;
  bottom: 0;
  left: calc(50% - 20px);
}
.box__head .inner__desc {
  font-size: 15px;
  color: #9a9a9a;
}

.section__one {
  background-color: #f8fcf9;
  display: flex;
  padding-bottom: 80px;
}

.section__one--list {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  background: #f8fcf9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section__one .list__img img {
  width: 100%;
  height: 100%;
}

.section__one .list__content {
  width: 14rem;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 7rem);
}
.section__one .list__item span {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}
.section__one .list__item--prices {
  color: #fff;
}
.section__one .list__item_rating {
  padding-top: 10px;
}
.section__one .list__item_rating i {
  color: rgb(255, 196, 0);
}
.section__one .btn--more {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  text-decoration: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.section__one .list__item--btn a {
  color: #fff;
}
.section__one .list__item--date {
  color: #fff;
  background-color: #5cb875cc;
  width: 150px;
  left: calc(50% - 75px);
  height: 30px;
  font-size: 13px;
  border-radius: 30px;
  top: -100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__one .list__item_rating i:last-child {
  color: white;
  border: 1 px solid #000;
}
@media (max-width: 991.89px) {
  .section__one .list__item--date {
    top: -75px;
  }
}
/* section two */

.section__two {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      rgba(68, 150, 91, 0.299),
      rgba(41, 100, 168, 0.527)
    ),
    url(../images/section2.webp);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__two .content--btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__two .content--btn .btn__book {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.section__two .section__two--content {
  background-color: #f8fcf9;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.section__two .content-title {
  position: absolute;
  font-size: 30px;
  color: #2d2d2d;
  font-weight: 650;
  top: 40px;
}

.section__two .content-rating {
  color: rgb(255, 196, 0);
  position: absolute;
  top: 100px;
}
.section__two .content-rating i:last-child {
  color: #ffeb8d;
}
.section__two .content--btn {
  position: absolute;
  bottom: 40px;
}
.section__two .content-desc {
  color: #a5a5a5;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 100px;
  padding: 0 100px;
}
.section__two .content-desc p {
  margin: 0;
}
.section__two .content--btn .btn__book a {
  color: #fff;
}
@media (max-width: 991.89px) {
  .section__two .content-rating {
    top: 200px;
  }
  .section__two .content-desc {
    padding: 0 60px;
  }
}
/* end section two */

/* Footer */
footer {
  padding: 100px 0 20px;
  width: 100%;
  /* height: 60vh; */
  background-color: #f8fcf9;
}

/* .section__footer{
    display: flex;

} */
.section__footer {
}

/* End Footer */
/* End page home */

/* Page about */
.about {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/images/ba_header.jpg);
  /* background-image: linear-gradient(rgba(185, 137, 42, 0.265), rgba(18, 83, 158, 0.47)), url(/assets/images/ba_header.jpg); */
}

.about .about__content {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.about__content--name {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
}
.section__one--about {
  padding: 90px;
  background-color: #f8fcf9;
}
.section__one--img img {
  width: 100%;
  height: auto;
  padding: 0 30px;
}
.section__one--title {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.section__one--desc {
  font-weight: 600;
  color: #929191;
  margin-top: 20px;
  line-height: 2;
  text-align: justify;
  padding-bottom: 35px;
}
.section__one--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.section__three--about--item {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.section__three--about--item .list--item img {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.section__three--about--content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: calc(50% - 80px);
  padding-left: 50px;
}
.section__three--about .content--title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section__three--about .content--title,
.content--prices {
  color: #fff;
}
.section__three--about .content--prices {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section__three--about .content--btn {
}

/* Section contact */

.section__contact .information {
  border-top: 3px solid #5cb874;
  border-bottom: 3px solid #5cb874;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(115, 114, 114, 0.12);
  height: 648px;
}

.section__contact .form {
  width: 100%;
  border-top: 3px solid #5cb874;
  border-bottom: 3px solid #5cb874;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.section__contact .infor-location-map iframe {
  width: 100%;
  height: 400px;
}
.section__contact .infor-location {
  display: flex;
  align-items: center;
}

.section__contact .location-icon i {
  font-size: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #eaf6ed;
  color: #7bd493;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
  top: -10px;
}
.section__contact .location-icon i:hover {
  background-color: #4db167;
  color: #fff;
  transition: 0.4s;
}
.section__contact .desc-location {
  margin-bottom: 20px;
  font-size: 12px;
  color: #555555;
}

.section__contact .title-location {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #222222;
}
.section__contact .sent-message,
.loading {
  display: none;
}
.section__contact .text-center button {
  background: #5cb874;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
}
/* End section contact */
/* End page about */

/* Page contact */
.contact {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/contactimg.jpeg");
}

.contact .contact__content {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.contact__content--name {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
}
/* End Page contact */

/* Page login */
/* end Page login */

/* Start Register */
body.register {
  background-image: linear-gradient(
      rgba(77, 75, 77, 0.8),
      rgba(31, 31, 31, 0.3)
    ),
    url(/assets/images/register-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register__heading {
  color: #fff;
  text-align: center;
  padding: 10% 0 50px;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 800;
}

.register__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

.register__box-img {
  background-image: url(/assets/images/register-form-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__box-img-heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Monoton", cursive;
  text-align: center;
  margin-bottom: 24px;
}

.register__box-img-para {
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.register__box-form {
  flex: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 0 0;
}

/* .register__form {
  } */

.register__form-group {
  display: flex;
  justify-content: center;
}

.register__form-input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  outline: none;
  font-size: 1.2rem;
  width: 70%;
  height: 50px;
  margin: 0px 10px 20px;
  padding: 0 10px;
}

.register__form-input::placeholder {
  color: #fff;
  font-weight: 100;
  font-style: italic;
}

.register__form-input-icon {
  font-size: 2rem;
  padding: 4px 0 0;
  margin: 0;
}

.register__form-submit-btn {
  color: #fff;
  background-color: rgb(19, 119, 214);
  outline: none;
  cursor: pointer;
  width: 50%;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin: 30px 25%;
  font-size: 1.2rem;
  font-weight: 600;
  left: 23%;
}

.register__box-form--separation {
  display: flex;
  align-items: center;
  height: 20px;
  margin: 0 40px;
}

.register__box-form--separation-left,
.register__box-form--separation-right {
  height: 1px;
  width: 100%;
  background-color: #fff;
  flex: 1;
}

.register__box-form--separation-content {
  padding: 0px 15px 0px;
}

.register__box-form--separation-content p {
  padding: 0;
  margin: 0;
}

.register__box-social {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35px 0;
}

.register__box-social-link {
  font-size: 1.2rem;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 3px 0;
}

.register__box-social-link a {
  color: #fff;
  text-align: center;
  line-height: 38px;
}

.register__box-login {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.register__box-login-message {
  padding: 0;
  margin: 0;
}
.register__box-login-link {
  color: rgb(19, 119, 214);
}

/* End Page register */
